* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: #125956;
}

:root {
    --index: calc(1vw + 1vh);
    background-color: rgba(0, 113, 255, 3%);
}

html {
    scroll-padding-top: 70px; /* Высота вашего header */
}

.footer_section a,
.nav a,
.dropdown-btn {
    transition: color 0.3s ease, transform 0.3s ease;
}

a:focus-visible,
button:focus-visible {
    outline: 2px dashed #33BEB3;
    outline-offset: 4px;
}

* h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: calc(var(--index) * 2.2);
    text-align: center;
    z-index: 2;
    text-wrap: nowrap;
    text-transform: uppercase;
}

* a {
    text-decoration: none;
    border: none;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    z-index: 5;
    transition: background-color 0.3s ease;
}

.header.scrolled {
    background-color: #fcfdfb;
    box-shadow: 5px 7px 30px 5px darkseagreen;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    text-wrap: nowrap;
    font-weight: bold;
    font-size: calc(var(--index) * 1.4);
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    min-width: 16vw;
}

.logo .second_part {
    color: #33BEB3;
}

.elem_blue_mobile,
.elem_light_mobile {
    display: none;
}

.burger-menu {
    position: absolute;
    top: 4vw;
    right: 4vw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 400;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #125956;
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30vw;
}

.nav a {
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    font-size: 1.8vw;
    will-change: transform, opacity;
}

.nav_link:hover {
    color: #33BEB3;
}

.elem_blue_form {
    display: none;
}

.elem_nav {
    display: none;
}

.tel {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.9vw;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tel img {
    width: 2.8vw;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    font-size: 1.8vw;
    text-transform: uppercase;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfdfb;
    min-width: 26vw;
    box-shadow: 0 8px 16px 0 darkseagreen;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: #125956;
    padding: 9px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #33BEB3;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #f2f6ee;
    color: #33BEB3;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-btn {
    color: #33BEB3;
}

.elem_light {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(var(--index) * 32);
    height: calc(var(--index) * 35);
    z-index: 1;
}

.elem_blue {
    position: absolute;
    top: 5rem;
    right: 28%;
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 22);
    z-index: 0;
}

.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_page {
    display: flex;
    align-items: start;
    justify-content: left;
    width: 100vw;
    height: fit-content;
}

.content {
    margin-top: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    z-index: 3;
}

.order_consultation {
    background-color: #125956;
    margin-top: 6.85vh;
    padding: 12px 20px;
    width: fit-content;
    text-wrap: nowrap;
    color: white;
    font-size: calc(var(--index) * 0.8);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 6px 12px darkseagreen;
}

.order_consultation:hover {
    background-color: #33BEB3;
    transform: scale(1.05);
    box-shadow: 0 6px 12px darkseagreen;
}

.whatsapp-float {
    display: none;
}

.whatsapp {
    display: block;
    margin-top: 6.8vh;
    width: 60px;
    height: 60px;
    background-image: url("Utills/images/whatsapp.svg");
    fill: #125956;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.whatsapp:hover {
    transform: scale(1.2);
}

.list_services {
    position: absolute;
    z-index: 3;
    left: 68%;
    top: 12vh;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.list_services a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 9px;
    background-color: #B9F4D4;
    width: 28vw;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: calc(var(--index) * 1);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list_services a:hover {
    color: #33BEB3;
    transform: translateY(-4px);
    box-shadow: 0 4px 10px darkseagreen;

}

.form_section {
    position: absolute;
    top: 38%;
    right: 40%;
    letter-spacing: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.man {
    width: calc(var(--index) * 13);
    height: calc(var(--index) * 15);
    z-index: 2;
}

.mobile_man {
    display: none;
}

.form {
    z-index: 3;
    margin-inline-end: 1vw;
    width: 52vw;
    padding: 0 20px;
    height: 10.13vh;
    background-color: #B9F4D4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    box-shadow: 5px 5px 10px darkseagreen;
}

.form_group {
    display: flex;
    align-items: end;
    justify-content: center;
}

.form input {
    margin-inline-end: 30px;
    background-color: transparent;
    border: none;
    color: #125956;
    width: calc(var(--index) * 7);
    font-family: "Roboto Condensed", sans-serif;
    font-size: calc(var(--index) * 0.8);
    font-weight: normal;
    letter-spacing: 1px;
    border-bottom: 3px solid #125956;
    outline: none;
    transition: background 0.3s ease;
}

.form input:focus {
    background: #B9F4D4;
    font-size: calc(var(--index) * 0.8);
}

input:focus::placeholder {
    opacity: 0;
}

.form input {
    &::placeholder {
        color: #125956;
        text-align: start;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 1px;
        font-size: calc(var(--index) * 0.7);
    }
}

.form button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
    width: 10vw;
    background-color: #125956;
    border: none;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: calc(var(--index) * 0.8);
    cursor: pointer;
}

.form button:hover {
    background-color: #33BEB3;
    color: white;
}

.custom-textarea {
    margin-inline-end: 30px;
    background-color: transparent;
    border: none;
    color: #125956;
    height: 6vh;
    width: calc(var(--index) * 7);
    font-family: "Roboto Condensed", sans-serif;
    font-size: calc(var(--index) * 0.8);
    font-weight: normal;
    letter-spacing: 1px;
    border-bottom: 3px solid #125956;
    overflow: hidden;
    outline: none;
    resize: none; /* Отключает изменение размера */
    transition: all 0.3s ease;
}

.nav-link, .menu-item, .footer-link {
    -webkit-tap-highlight-color: transparent;
    -tap-highlight-color: transparent;
}

/* Для всех интерактивных элементов */
a, button, [role="button"], [onclick] {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Стиль при фокусе */
.custom-textarea:focus {
    background: #B9F4D4;
    font-size: calc(var(--index) * 0.8);
    height: 6vh;
}

.custom-textarea:focus::placeholder {
    opacity: 0;
}

/* Стиль для placeholder */
.custom-textarea::placeholder {
    color: #125956;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: calc(var(--index) * 0.7);
}

#about {
    margin-bottom: 1vh;
}

.contact_page {
    padding-top: 30vh;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.contact_page h1 {
    margin-bottom: 3vw;
}

.about_us_text_mobile {
    display: none;
}

.about_info {
    order: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: fit-content;
    height: fit-content;
    margin-inline-start: 5vw;
}

.about_text {
    width: 37vw;
    z-index: 2;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: calc(var(--index) * 0.9);
}

.about_text p {
    margin-bottom: 20px;
}

.contact_part {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    h1 {
        margin-bottom: 2.5vw;
    }
}

.contact_section {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    padding: 20px;
}

.contact_section img {
    width: calc(var(--index) * 2.6);
    margin-inline-start: 1vw;
    fill: #B9F4D4;
}

.contact_section p {
    margin-inline-start: 20px;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: calc(var(--index) * 0.9);
    text-align: end;
}

.contact_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-bottom: 1.5vw;
    padding: 20px;
    width: 23vw;
    height: 13vh;
    background-color: #B9F4D4;
    text-wrap: nowrap;
    border-radius: 8px;
    box-shadow: 5px 5px 10px darkseagreen;
}

.contact_group_blue {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 20px;
    width: 23vw;
    text-wrap: nowrap;
    height: 13vh;
    background-color: #33BEB3;
    border-radius: 8px;
    box-shadow: 5px 5px 10px darkseagreen;

    p {
        color: white;
        letter-spacing: 3px;
        line-height: 28px;
    }
}

.contact_text {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: calc(var(--index) * 0.8);
    text-align: end;
    padding: 0 20px;
    line-height: 28px;
}

.about_us_text {
    margin-top: 6vh;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    font-size: calc(var(--index) * 0.8);
    text-align: end;
    text-wrap: wrap;
    width: 37vw;
    height: fit-content;
}

.about_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.whatsapp.contact {
    margin-top: 12vh;
}

.footer {
    margin-top: 10vh;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: start;
    justify-content: space-around;
    background-color: #B9F4D4;
    padding: 20px;
}

.footer_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B9F4D4;
}

.footer_section a:hover {
    color: #33BEB3;
}

.create {
    margin-top: 10px;
    font-size: calc(var(--index) * 0.9);
    margin-inline-start: -6%;
}

.create:hover {
    color: #33BEB3;
}

.create_mobile {
    display: none;
}
.service_item {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text_section {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    /*background-image: url("./Utills/images/elem_light_service.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: right;*/
    /*background-size: cover;*/
    padding: 5vh 10vw;
}
.text {
    font-family: "Roboto Condensed", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--index) * 0.8);
    text-align: right;

    p {
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 1px;
        font-size: calc(var(--index) * 0.8);
    }
    #title_service {
        font-family: "Roboto Condensed", sans-serif;
        margin: 5vh 0;
    }
    h3, h2{
        margin: 2vh 0;
        letter-spacing: 1px;
    }
}
.first_section {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 90vw;
}
.first_section .first_part {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: start;
    p {
        font-size: calc(var(--index) * 1);
        line-height: 4vh;
        letter-spacing: 1px;
    }
}
.second_part {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  40%;
}
.second_part img{
    position: absolute;
    top: 15vh;
    right: 10vw;
    width: 30vw;
}
#main_icon_service  {
    top: 20vh;
    right: 15vw;
    width: 20vw;
    height: 20vw;
}
.icon_apostile_order {
    width: 7vw;
}
.steps_section {
    margin: 10vh 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 90vw;
}
.steps {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    margin: 5vh 0;
}
.steps li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  start;
    width: 23%;
    text-align: center;
    margin: 2vh;
    font-size: calc(var(--index) * 1);
    line-height: 4vh;
}
.steps_img {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
}
.second_section {
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 90vw;
}
.features_service,
.resonse_section,
.reasons {
   text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    min-height: 30vh;
}
.features_service li,
.reasons li {
    line-height: 4vh;
    font-size: calc(var(--index) * 1);
    text-align: left;
}
.third_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    text-align: left;
}
.return_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 15%;
    cursor: pointer;
    transition: all 0.3s;
}
.return_section:hover {
        transform: scale(1.05);
}
.return_section h3{
    color: #33BEB3;

}
.return_section img {
    width: 3vw;
    margin-inline-end: 2vh;
}
.cta {
    width: 30%;
}
.whatsapp_section {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 10vw;
}
.whatsapp_service {
    display: block;
    width: 4vw;
    height: 4vw;
    background-image: url("Utills/images/whatsapp.svg");
    fill: #125956;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
    transition: all 0.3s;
}
.whatsapp_service:hover {
    transform: scale(1.15);
}
.about_section_married {
    display: flex;
    align-items: start;
    width: 60%;
    text-align: left;
    flex-direction: column;
    justify-content: start;
    min-height: 30vh;
    font-size: calc(var(--index) * 1);
}
.not-found {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 2500px) {
    .main_page {
        height: 80vh;
        align-items: start;
        justify-content: start;
    }
}

@media (max-width: 1600px) {
    .form {
        width: fit-content;
        height: fit-content;
        align-items: end;
        justify-content: end;
        padding: 16px;
    }

    .form input {
        width: 10vw;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    #time {
        height: 6vh;
    }
}

@media (max-width: 1500px) {
    .title {
        font-size: calc(var(--index) * 2);
    }

}

@media (max-width: 1200px) {
    .contact_group,
    .contact_group_blue {
        width: 100%;
    }
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 160px; /* Высота вашего header */
    }

    .main_page {
        overflow: hidden;
    }

    .burger-menu {
        display: flex;
    }

    .blur-overlay {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый */
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); /* Размытие */
        z-index: 4; /* Ниже меню, но выше всего остального */
        display: none; /* По умолчанию скрыт */
    }

    .blur-overlay.active {
        display: block; /* Показываем при активном меню */
    }

    .nav a {
        z-index: 300;
    }

    .nav {
        position: fixed;
        top: -300%;
        right: 0;
        width: 100%;
        min-height: 48vh;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        align-items: center;
        justify-content: center;
        transition: top 0.3s ease-in-out;
        z-index: 100;
    }

    .elem_nav {
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        width: 95vw;
        height: 100%;
        z-index: 200;
    }

    .nav.active {
        top: 0;
        left: 0;
    }

    .nav_link {
        font-size: calc(var(--index) * 1.6);
        margin-top: 10px;
        background-color: #B9F4D4;
        text-align: center;
        padding: 12px;
        width: 70vw;
        z-index: 300;
        font-weight: bold;
        margin-inline-start: 7%;
        border-radius: 8px;
    }

    .dropdown {
        z-index: 300;
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-inline-start: 3%;
    }

    .dropdown a {
        font-size: calc(var(--index) * 1.8);
    }

    .dropdown-content {
        position: absolute;
        top: 100%;
        left: 10%;
        width: 70%;
        height: 50vh;
        display: none;
        min-width: 200px;
        margin-inline-start: 8%;
        overflow: scroll;
    }

    .dropdown-btn {
        position: relative;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .form_mobile {
        position: absolute;
        top: 17.5vh;
        right: 1.3%;
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        z-index: 8;
    }

    .elem_blue_form {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 7;
        width: 90vw;
        min-height: 70vh;
        height: 100%;
        display: block;
    }

    .form {
        box-shadow: none;
        margin-left: 18%;
        margin-bottom: 4vh;
        z-index: 9;
        width: fit-content;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        background-color: transparent;
        font-size: 1.2rem;
    }

    .form input:focus {
        background: #33BEB3;
        font-size: 1.2rem;
        color: white;
    }

    input:focus::placeholder {
        opacity: 0;
    }

    .form_group {
        margin-bottom: 3vh;
    }

    .custom-textarea {
        width: 40vw;
        height: 7vh;
    }

    .form input {
        width: 40vw;
        height: 5vh;
        font-size: 1.2rem;
    }

    .form input::placeholder {
        font-size: 1.1rem;
        font-weight: normal;
        color: white;
    }

    .custom-textarea {
        font-size: 1.2rem
    }

    .custom-textarea:focus {
        background: #33BEB3;
        font-size: 1.2rem;
        color: white;
        height: 7vh;
    }

    .custom-textarea::placeholder {
        font-size: 1.1rem;
        font-weight: normal;
        color: white;
    }

    .form button {
        width: 40vw;
        font-size: 1.2rem;
        height: fit-content;
    }

    .form button:hover {
        background-color: #B9F4D4;
        color: #125956;
    }

    .header {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 2vw;
    }

    .tel img {
        display: none;
    }

    .tel {
        order: 2;
        margin-top: 5vh;
        font-size: 1.2rem;
        margin-inline-start: 4.5vw;
        width: 49vw;
        letter-spacing: 1px;
        text-align: center;
        z-index: 400;
    }

    .create {
        display: none;
    }

    /* Анимация бургер-кнопки при открытии */
    .burger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(8px, 9px);
    }

    .burger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
    }

    /* Дополнительные стили для мобильной версии */
    .header {
        justify-content: space-between;
        padding: 15px;
    }

    .header {
        height: fit-content;
        padding: 10px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .header .logo {
        position: absolute;
        top: 12px;
        left: 5%;
        font-size: 1.7rem;
        z-index: 10000;
    }

    .man {
        display: none;
    }

    .list_services {
        top: 21vh;
        left: 10%;
        width: 90vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .list_services a {
        min-width: 80%;
        min-height: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: calc(var(--index) * 1.3);
        padding: 8px 12px;
        text-wrap: nowrap;
        margin-bottom: 6px;
    }

    .main_page {
        align-items: start;
        justify-content: right;
        margin-inline-end: 13%;
        height: 100vh;
    }

    .content {
        width: 82%;
        height: fit-content;
        align-items: center;
        justify-content: start;
        margin: 12vh 0;
    }

    .title {
        margin-inline-start: 3.5%;
        width: 90%;
        font-size: calc(var(--index) * 2);
    }

    .order_consultation {
        display: none;
    }

    /* Добавьте эти стили в ваш CSS */
    .whatsapp-float {
        position: fixed;
        bottom: 2vh;
        left: 4vw;
        margin-top: 6.85vh;
        width: 65px;
        height: 65px;
        background-color: #125956;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        animation: float 3s ease-in-out infinite;
        transition: all 0.3s ease;
    }

    .whatsapp-float img {
        width: 100%;
        height: 100%;
        z-index: 2000;
        background: #31817e;
        border-radius: 50%;
        padding: 9px;
        box-shadow: 0 4px 10px #31817e;
        animation: pulse 2s infinite ease-in-out;
        position: relative;
    }

    /* Пульсирующее кольцо */
    .whatsapp-ring {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #98d6d1;
        box-shadow: 0 20px 10px #98d6d1 inset;
        animation: ring 3s infinite ease-out;
        opacity: 0;
        z-index: 1;
    }

    /* Анимация "дыхания" иконки */
    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

    /* Анимация расходящегося кольца */
    @keyframes ring {
        0% {
            transform: scale(0.8);
            opacity: 1;
        }
        70% {
            transform: scale(1.4);
            opacity: 0.8;
        }
        100% {
            transform: scale(1.4);
            opacity: 0;
        }
    }

    /* Эффект при наведении */
    .whatsapp-float:hover img {
        animation: pulse 1s infinite ease-in-out;
    }

    .whatsapp-float:hover .whatsapp-ring {
        animation: ring 1.5s infinite ease-out;
    }

    .contact_part {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .elem_blue_mobile {
        position: absolute;
        right: 5%;
        display: block;
        width: 95vw;
        height: 80vh;
        top: 20vh;
    }

    .elem_light_mobile {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 93vw;
        height: 91vh;
        z-index: 3;
    }

    .elem_light {
        display: none;
    }

    .elem_blue {
        display: none;
    }

    .mobile_man {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 200px;
        height: 220px;
        z-index: 1000;
    }

    .contact_page {
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }

    .about_us_text_mobile {
        display: flex;
        align-items: start;
        justify-content: start;
        width: 90%;
        margin: 0 4vh 4vh 0;
        padding: 0;
    }

    .about_us_text_mobile p {
        text-align: inherit;
        padding: 0;
    }

    .contact_section,
    .about_info {
        order: 0;
    }

    .contact_section {
        margin-top: 2vh;
        order: 2;
        align-items: center;
    }

    .contact_section h1 {
        margin-bottom: 2vh;
    }

    .about_info {
        order: 1;
    }

    .contact_group {
        width: 90%;
        margin-bottom: 2.5vh;
        padding: 10px 20px;
    }

    .contact_group_blue {
        width: 90%;
        margin-bottom: 2.2vh;
        padding: 10px 20px;
        line-height: 3.8vh;
    }

    .contact_group p {
        line-height: 3.8vh;
    }

    .contact_group img {
        margin: 1vw 5vw;
        width: 5vh;
    }

    .contact_group_blue img {
        width: 5vh;
        margin: 1vw 5vw;
    }

    .contact_page p {
        font-size: calc(var(--index) * 1.6);
        letter-spacing: 1px;
    }

    .about_us_text {
        display: none;
    }

    .about_text {
        margin-top: 1vh;
        width: 90%;
    }

    .footer {
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-top: 4vh;
    }

    .logo {
        font-size: 1.7rem;
    }

    .create_mobile {
        display: block;
        text-align: center;
        width: 100%;
        background-color: #caf6de;
        padding-bottom: 10px;
    }

    .footer .tel {
        position: relative;
        margin-top: 10px;
    }

    .whatsapp {
        display: none;
    }

}

@media (min-width: 768px) and (orientation: portrait) {
    .dropdown-btn,
    .nav a {
        font-size: calc(var(--index) * 0.8);
    }

    .content {
        margin-top: 13vh;
        margin-inline-start: 4vw;
    }

    .form button {
        width: fit-content;
    }

    .list_services {
        height: fit-content;
    }

    .main_page {
        width: 100%;
    }

    .contact_page {
        padding-top: 5vh;
    }
}